.aside-filter {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3E3C41;
  padding-top: 90px;
  color: $white-color;
  margin-bottom: 85px;
  &__form {
    display: block;
    margin-bottom: 30px;
  }
  &__form-wrapper {
    position: relative;
    &:nth-child(n+2) {
      margin-top: 70px;
    }
  }
  &__label {
    position: absolute;
    top: -40px;
    font-size: 30px;
  }
  &__input {
    width: 295px;
    height: 43px;
    border-radius: 5px;
    padding: 0 15px;
    cursor: pointer;
  }
  &__calendar {
    position: absolute;
    top: 65px;
    left: -18px;
    &::before {
      content: '';
      position: absolute;
      top: -23px;
      left: calc(50% - 12px);
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 0;
      border-bottom: 25px solid white;
    }
  }
  &__options {
    display: block;
    padding: 25px 35px 25px 60px;
    width: 100%;
    border-top: 1px solid #E5E5E5;
  }
  &__options-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    & div {
      display: flex;
      align-items: center;
      width: 100px;
      & div {
        width: 20px;
      }
      & p {
        font-size: 18px;
        margin-left: 30px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__price {
    padding: 35px 20px;
    width: 100%;
    border-top: 1px solid #E5E5E5;
    & h4 {
      font-size: 30px;
    }
  }
  &__slider-wrapper {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
  }
  &__price-from {
    position: absolute;
    top: -6px;
    left: 7px;
  }
  &__price-to {
    position: absolute;
    top: -6px;
    right: 7px;
  }
  &__price-min {
    position: absolute;
    bottom: -6px;
    left: 7px;
  }
  &__price-max {
    position: absolute;
    bottom: -6px;
    right: 7px;
  }
  &__date-to, &__date-from {
    padding: 25px;
    width: 100%;
    border-top: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & div {
      display: inline-flex;
      & img {
        margin-right: 10px;
      }
    }
    & h4 {
      font-family: 'bold';
      font-size: 30px;
    }
  }
  &__date-sign {
    cursor: pointer;
    &:hover {
      fill: #FCDC9D !important;
    }
  }
  &__time-options {
    width: 100%;
    padding: 0 25px 30px;
    & h5 {
      font-size: 24px;
      margin-bottom: -10px;
    }
  }
  &__time-wrapper {
    position: relative;
    width: 100%;
  }
  &__time-min {
    position: absolute;
    bottom: -15px;
    left: 7px;
  }
  &__time-max {
    position: absolute;
    bottom: -15px;
    right: 7px;
  }
  &__time-option {
    margin-bottom: 70px;
    &:last-child {
      margin-bottom: 10px;
      text-align: right;
    }
  }
}
/* Rectangle 7.1 */
