.wagon-class-first {
  width: 921px;
  height: 145px;
  margin-bottom: 40px;
  background-color: gray;
  background-image: url("../assets/wagon-seats-1.svg");
  position: relative;
  &__wrapper {
    position: absolute;
    top: 28px;
    left: 133px;
  }
  & ul {
    display: flex;
    flex-wrap: wrap;
    width: 770px;
  }
  &__seat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 59px;
    background-color: rgb(238, 235, 235);
    margin-right: 1.5px;
    margin-bottom: 0;
    font-family: 'bold';
    // border: 1px solid gray;
    &:nth-child(odd) {
      margin-right: 34px;
    }
    &:hover {
      cursor: pointer;
      border: 2px solid $orange-color;
    }
    &:active {
      color: $orange-color;
    }
    &_chosen {
      color: white;
      background-color: $orange-color;
    }
    &_unavailable {
      background-color: darkgray;
      color: white;
      pointer-events: none;
    }
  }
  &__wagon-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 40px;
    width: 31px;
    height: 24px;
    background-color: rgb(46, 44, 44);
    color: white;
    font-family: 'bold';
    font-size: 14px;
  }
}
