.ant-pagination-item {
  border: 1px solid #C4C4C4 !important;
  margin-right: 15px !important;
}

.ant-pagination-item-active {
  color: hsl(0, 0%, 100%) !important;
}

// .ant-pagination-item-link {
//   border: 1px solid #C4C4C4 !important;
// }

.ant-pagination-item-ellipsis {
  padding-top: 20px;
  border: 1px solid #C4C4C4 !important;
}