// ============== colors ================ //

$gray-color: #292929;
$gray-color2: #2D2B2F;
$white-color: #FFFFFF;
$orange-color: #FFA800;
$orange-on-gray-color: #FFCA62;


$font-thin: 100;
$font-light: 300;

// ====================================== //

