@import "./fonts";
@import './vars';
@import "./extensions";
@import "./breakpoints";
@import "../components/components.scss";
@import "../layout/layout.scss";
@import "../pages/pages";
@import "../antd/antd";
@import "../SVG/SVG";


* {
  font-family: 'regular';
}

aside, main {
  font-family: 'regular';
}

button {
  cursor: pointer;
  &:hover {
    transition: 0.5s all ease;
  }
}

ul {
  list-style-type: none;
}
