@charset "UTF-8";
@font-face {
  font-family: "thin";
  src: url(../fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "light";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "lightItalic";
  src: url(../fonts/Roboto-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "regular";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "medium";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "bold";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "black";
  src: url(../fonts/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
}
.logo {
  cursor: pointer;
  font-family: "black";
  font-size: 36px;
  color: #E5E5E5;
}

.navmenu-container {
  width: 100%;
  height: 94px;
  background-color: #292929;
  display: flex;
  align-items: center;
}
.navmenu-container__wrapper {
  display: flex;
  padding-left: 250px;
}
@media screen and (max-width: 1420px) {
  .navmenu-container__wrapper {
    padding-left: 150px;
  }
}
.navmenu-container__item {
  font-family: "light";
  font-size: 30px;
  color: #FFFFFF;
  margin-right: 70px;
}
.navmenu-container__item:hover {
  color: #FFCA62;
  transition: 0.3s all ease;
  cursor: pointer;
}
.navmenu-container__item:active {
  color: #FFFFFF;
}
@media screen and (max-width: 1420px) {
  .navmenu-container__item {
    font-size: 24px;
  }
}

.main-title {
  position: relative;
  color: #FFFFFF;
  bottom: 40px;
}
.main-title__thin {
  display: block;
  font-family: "thin";
  font-size: 72px;
}
@media screen and (max-width: 1720px) {
  .main-title__thin {
    font-size: 56px;
  }
}
@media screen and (max-width: 1420px) {
  .main-title__thin {
    font-size: 48px;
  }
}
.main-title__bold {
  display: block;
  font-family: "bold";
  font-size: 72px;
}
@media screen and (max-width: 1720px) {
  .main-title__bold {
    font-size: 56px;
  }
}
@media screen and (max-width: 1420px) {
  .main-title__bold {
    font-size: 48px;
  }
}

.convertable-form {
  position: relative;
  background-color: rgba(41, 41, 41, 0.8);
  border: 1px solid #000000;
  display: flex;
}
.convertable-form img {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  left: 331px;
  top: 18px;
}
.convertable-form__input-wrapper {
  position: relative;
  display: flex;
}
.convertable-form__input-wrapper.initial-view {
  justify-content: space-between;
}
.convertable-form__input-wrapper.main-view {
  gap: 35px;
}
.convertable-form__input-wrapper input {
  width: 325px;
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
  color: #292929;
  border-radius: 3px;
}
.convertable-form__input-wrapper input::-moz-placeholder {
  color: #E5E5E5;
  opacity: 1;
  font-size: 18px;
}
.convertable-form__input-wrapper input::placeholder {
  color: #E5E5E5;
  opacity: 1;
  font-size: 18px;
}
.convertable-form__input-wrapper label {
  position: absolute;
  top: -45px;
  left: 6px;
  font-family: "light";
  font-size: 30px;
  color: #FFFFFF;
}
.convertable-form__input-wrapper_helper {
  position: relative;
}
.convertable-form__input-wrapper_helper_roll {
  position: absolute;
  top: 70px;
  width: 324px;
  min-height: 0;
  max-height: 255px;
  background-color: #F5F4F6;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-size: 18px;
  text-transform: uppercase;
  color: #292929;
  z-index: 5;
}
.convertable-form__input-wrapper_helper_roll span {
  cursor: pointer;
  padding-bottom: 7px;
  padding-left: 30px;
}
.convertable-form__input-wrapper_helper_roll span:first-child {
  padding-top: 15px;
}
.convertable-form__input-wrapper_helper_roll span:last-child {
  padding-bottom: 15px;
}
.convertable-form__input-wrapper_helper_roll span:hover {
  color: #FFA800;
}
.convertable-form__input-wrapper_geo {
  position: relative;
}
.convertable-form__input-wrapper_geo::after {
  content: url("../assets/geolocation-icon2.svg");
  display: block;
  width: 21px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  pointer-events: none;
}
.convertable-form__input-wrapper_calendar {
  position: relative;
}
.convertable-form__input-wrapper_calendar input {
  cursor: pointer;
}
.convertable-form__input-wrapper_calendar::after {
  content: url("../assets/calendar-icon.svg");
  display: block;
  width: 30px;
  height: 33px;
  position: absolute;
  top: 15px;
  right: 15px;
  pointer-events: none;
}
.convertable-form__input-wrapper_triangle {
  position: relative;
  top: 50px;
  left: 0;
}
.convertable-form__input-wrapper_triangle::before {
  content: "";
  position: absolute;
  top: -23px;
  left: calc(50% - 12px);
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 0;
  border-bottom: 25px solid white;
}
.convertable-form__input-wrapper_triangle img {
  position: absolute;
  top: 11px;
  left: -178px;
  width: 30px;
  height: 30px;
}
.convertable-form button {
  position: absolute;
  bottom: 50px;
  right: 23px;
  width: 320px;
  height: 60px;
  background-color: #FFA800;
  color: #292929;
  border-radius: 5px;
  font-family: "bold";
  font-size: 24px;
}
.convertable-form button.main-view {
  width: 325px;
  right: 40px;
}
.convertable-form button:hover {
  background-color: #FFFFFF;
}
.convertable-form button:active {
  box-shadow: none;
  color: #FFA800;
  background-color: #FFFFFF;
  border: 1px solid #FFA800;
}
.convertable-form.initial-view {
  width: 729px;
  height: 574px;
  padding: 125px 20px 200px;
  flex-direction: column;
  gap: 105px;
}
.convertable-form.main-view {
  width: 1490px;
  height: 310px;
  padding: 80px 42px 180px;
  justify-content: space-between;
}

.main-form {
  position: relative;
  background-color: #292929;
  opacity: 0.8;
  border: 1px solid #000000;
  display: flex;
}
.main-form__input-wrapper {
  position: relative;
  display: flex;
}
.main-form__input-wrapper input {
  width: 325px;
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
  color: #292929;
  border-radius: 3px;
}
.main-form__input-wrapper input::-moz-placeholder {
  color: #E5E5E5;
  opacity: 1;
  font-size: 18px;
}
.main-form__input-wrapper input::placeholder {
  color: #E5E5E5;
  opacity: 1;
  font-size: 18px;
}
.main-form__input-wrapper label {
  position: absolute;
  top: -45px;
  left: 6px;
  font-family: "light";
  font-size: 30px;
  color: #FFFFFF;
}
.main-form__input-wrapper_helper::before {
  content: url("../assets/form-arrows-circled.svg");
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  left: 331px;
  top: 18px;
}
.main-form__input-wrapper_geo {
  position: relative;
}
.main-form__input-wrapper_geo::after {
  content: url("../assets/geolocation-icon2.svg");
  display: block;
  width: 21px;
  height: 30px;
  position: absolute;
  top: -6px;
  right: 15px;
}
.main-form__input-wrapper_calendar {
  position: relative;
}
.main-form__input-wrapper_calendar::after {
  content: url("../assets/calendar-icon.svg");
  display: block;
  width: 30px;
  height: 33px;
  position: absolute;
  top: -6px;
  right: 15px;
}
.main-form button {
  position: absolute;
  bottom: 65px;
  right: 41px;
  width: 323px;
  height: 60px;
  background-color: #FFA800;
  color: #292929;
  border-radius: 5px;
  font-family: "bold";
  font-size: 24px;
}
.main-form button:hover {
  background-color: #FFFFFF;
}
.main-form button:active {
  box-shadow: none;
  color: #FFA800;
  background-color: #FFFFFF;
  border: 1px solid #FFA800;
}

.contacts {
  max-width: 300px;
}
.contacts h3 {
  font-family: "medium";
  font-size: 30px;
  margin-bottom: 30px;
  color: #FFFFFF;
}
.contacts__piece-wrapper {
  margin-bottom: 25px;
}
.contacts__tel {
  display: flex;
  gap: 8px;
}
.contacts img {
  position: relative;
  top: 7px;
  margin-right: 30px;
  width: 30px;
  height: 30px;
}
.contacts span {
  font-family: "regular";
  font-size: 24px;
  color: #E5E5E5;
  text-align: center;
  line-height: 28px;
  max-width: 30px;
}

/* г. Москва ул. Московская 27-35 555 555 */
.subscription {
  max-width: 500px;
}
.subscription h3 {
  font-family: "medium";
  font-size: 30px;
  margin-bottom: 80px;
  color: #FFFFFF;
}
.subscription__form {
  position: relative;
  display: flex;
  gap: 33px;
  margin-bottom: 50px;
}
.subscription__form label {
  position: absolute;
  top: -50px;
  left: 0;
  font-family: "regular";
  font-size: 24px;
  color: #E5E5E5;
  line-height: 28px;
}
.subscription__form input {
  box-sizing: border-box;
  width: 447px;
  height: 60px;
  border-radius: 3px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
}
.subscription__form input::-moz-placeholder {
  color: #E5E5E5;
  opacity: 1;
}
.subscription__form input::placeholder {
  color: #E5E5E5;
  opacity: 1;
}
.subscription__form button {
  width: 169px;
  height: 60px;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  background-color: transparent;
  font-family: "regular";
  font-size: 24px;
  color: #E5E5E5;
}
.subscription__form button:hover {
  background-color: #FFCA62;
  color: #2D2B2F;
}
.subscription__form button:active {
  background-color: #2D2B2F;
  color: #FFFFFF;
  box-shadow: none;
  color: #FFA800;
  background-color: #FFFFFF;
  border: 1px solid #FFA800;
}
.subscription__social-links {
  margin-top: -53px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.subscription__social-links_link:hover {
  cursor: pointer;
  fill: #FFCA62;
  transition: 0.3s all ease;
}

.status {
  width: 100%;
  background-color: #3E3C41;
  height: 99px;
  display: flex;
}
.status__item {
  position: relative;
  width: 20%;
  height: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status__item.active {
  background-color: #FFA800;
}
.status__item.active::after {
  border-left: 30px solid #FFA800;
}
.status__item::after {
  content: "";
  display: block;
  position: absolute;
  right: -30px;
  border-left: 30px solid #3E3C41;
  border-right: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
.status__item::before {
  content: "";
  display: block;
  position: absolute;
  right: -32px;
  border-left: 30px solid #E5E5E5;
  border-right: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
.status__item:first-child {
  width: 30%;
}
.status__item:last-child {
  width: 30%;
  padding-right: 250px;
}
.status__item div {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid white;
  font-family: "bold";
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.status__item p {
  font-family: "bold";
  font-size: 30px;
}

.aside-filter {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3E3C41;
  padding-top: 90px;
  color: #FFFFFF;
  margin-bottom: 85px;
}
.aside-filter__form {
  display: block;
  margin-bottom: 30px;
}
.aside-filter__form_wrapper {
  position: relative;
}
.aside-filter__form_wrapper:nth-child(n+2) {
  margin-top: 70px;
}
.aside-filter__form_wrapper_label {
  position: absolute;
  top: -40px;
  font-size: 30px;
}
.aside-filter__form_wrapper_input {
  width: 295px;
  height: 43px;
  border-radius: 5px;
  padding: 0 15px;
  cursor: pointer;
}
.aside-filter__form_wrapper_calendar {
  position: absolute;
  top: 65px;
  left: -18px;
}
.aside-filter__form_wrapper_calendar::before {
  content: "";
  position: absolute;
  top: -23px;
  left: calc(50% - 12px);
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 0;
  border-bottom: 25px solid white;
}
.aside-filter__options {
  display: block;
  padding: 25px 35px 25px 60px;
  width: 100%;
  border-top: 1px solid #E5E5E5;
}
.aside-filter__options_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.aside-filter__options_wrapper div {
  display: flex;
  align-items: center;
  width: 100px;
}
.aside-filter__options_wrapper div div {
  width: 20px;
}
.aside-filter__options_wrapper div p {
  font-size: 18px;
  margin-left: 30px;
}
.aside-filter__options_wrapper:last-child {
  margin-bottom: 0;
}
.aside-filter__price {
  padding: 35px 20px;
  width: 100%;
  border-top: 1px solid #E5E5E5;
}
.aside-filter__price h4 {
  font-size: 30px;
}
.aside-filter__price_slider-wrapper {
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}
.aside-filter__price_slider-wrapper_from {
  position: absolute;
  top: -6px;
  left: 7px;
}
.aside-filter__price_slider-wrapper_to {
  position: absolute;
  top: -6px;
  right: 7px;
}
.aside-filter__price_slider-wrapper_min {
  position: absolute;
  bottom: -6px;
  left: 7px;
}
.aside-filter__price_slider-wrapper_max {
  position: absolute;
  bottom: -6px;
  right: 7px;
}
.aside-filter__date-to, .aside-filter__date-from {
  padding: 25px;
  width: 100%;
  border-top: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside-filter__date-to_sign, .aside-filter__date-from_sign {
  cursor: pointer;
}
.aside-filter__date-to_sign:hover, .aside-filter__date-from_sign:hover {
  fill: #FCDC9D !important;
}
.aside-filter__date-to div, .aside-filter__date-from div {
  display: inline-flex;
}
.aside-filter__date-to div img, .aside-filter__date-from div img {
  margin-right: 10px;
}
.aside-filter__date-to h4, .aside-filter__date-from h4 {
  font-family: "bold";
  font-size: 30px;
}
.aside-filter__time-options {
  width: 100%;
  padding: 0 25px 30px;
}
.aside-filter__time-options_option {
  margin-bottom: 70px;
}
.aside-filter__time-options_option:last-child {
  margin-bottom: 10px;
  text-align: right;
}
.aside-filter__time-options_slider-wrapper {
  position: relative;
  width: 100%;
}
.aside-filter__time-options_slider-wrapper_min {
  position: absolute;
  bottom: -15px;
  left: 7px;
}
.aside-filter__time-options_slider-wrapper_max {
  position: absolute;
  bottom: -15px;
  right: 7px;
}
.aside-filter__time-options h5 {
  font-size: 24px;
  margin-bottom: -10px;
}

/* Rectangle 7.1 */
.last-tickets {
  display: block;
}
.last-tickets__title {
  font-family: "medium";
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.last-tickets__card {
  border: 1px solid #C4C4C4;
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 17px;
}
.last-tickets__card_wrapper {
  display: flex;
  justify-content: space-between;
}
.last-tickets__card_wrapper_to {
  text-align: right;
}
.last-tickets__card_city {
  font-size: 20px;
  margin-bottom: 10px;
}
.last-tickets__card_station {
  font-size: 16px;
  color: #928F94;
  width: 100px;
  margin-bottom: 20px;
}
.last-tickets__card_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #928F94;
}
.last-tickets__card_price span {
  font-family: "bold";
  font-size: 36px;
  color: #FFA800;
  margin-right: 3px;
}
.last-tickets__card_price img {
  width: 96px;
}
.last-tickets__card_price div img {
  width: 20px;
}

/* Group 6 */
/* Group 3 */
.train-card {
  width: 959px;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 47px;
  display: flex;
}
.train-card__wrapper-left {
  width: 197px;
  background-color: #E4E0E9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 40px;
}
.train-card__wrapper-left img {
  margin-bottom: 20px;
}
.train-card__wrapper-left_train-number {
  margin-bottom: 20px;
  font-family: "bold";
  font-size: 24px;
}
.train-card__wrapper-left div {
  display: block;
}
.train-card__wrapper-left p {
  margin-bottom: 3px;
  font-size: 16px;
}
.train-card__wrapper-middle {
  width: 370px;
  padding: 40px 0;
  display: block;
  margin-right: 75px;
}
.train-card__wrapper-middle_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.train-card__wrapper-middle_section {
  display: flex;
  gap: 25px;
  margin-bottom: 55px;
}
.train-card__wrapper-middle_section_part {
  display: flex;
  flex-direction: column;
}
.train-card__wrapper-middle_section_part img {
  width: 30px;
}
.train-card__wrapper-middle_section_time {
  font-family: "bold";
  font-size: 24px;
}
.train-card__wrapper-middle_section_city {
  font-size: 18px;
}
.train-card__wrapper-middle_section_station {
  font-size: 16px;
  color: #928F94;
}
.train-card__wrapper-middle_section_duration {
  position: relative;
  right: 8px;
  bottom: 10px;
  font-size: 18px;
  color: #C4C4C4;
  margin-bottom: 5px;
}
.train-card__wrapper-right {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  border-left-color: #C4C4C4;
  border-left-width: 1px;
  border-left-style: solid;
  padding: 0 15px 0 25px;
  color: #928F94;
}
.train-card__wrapper-right_seats {
  display: block;
}
.train-card__wrapper-right_seat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
  font-size: 16px;
  margin-top: 25px;
}
.train-card__wrapper-right_seat:hover + .train-card__wrapper-right_options {
  opacity: 1;
  transition: 0.3s all ease;
}
.train-card__wrapper-right_seat span {
  font-family: "bold";
  font-size: 24px;
  color: #2D2B2F;
  margin-left: 3px;
}
.train-card__wrapper-right_seat_type {
  font-size: 16px;
  color: #3E3C41;
  width: 80px;
}
.train-card__wrapper-right_seat_amount {
  font-family: "medium";
  font-size: 16px;
  color: #FFA800;
}
.train-card__wrapper-right_seat img {
  width: 16px;
}
.train-card__wrapper-right_seat:last-child {
  margin-bottom: 0;
}
.train-card__wrapper-right_options {
  position: relative;
  width: 100%;
  background-color: #E5E5E5;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 5;
  opacity: 0;
}
.train-card__wrapper-right_options div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
}
.train-card__wrapper-right_options img {
  width: 16px;
}
.train-card__wrapper-right_options span {
  color: #2D2B2F;
  font-family: "bold";
  font-size: 24px;
  margin-left: 3px;
}
.train-card__wrapper-right_extra {
  position: absolute;
  bottom: 80px;
  right: 25px;
}

.train-card-wrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.train-card-button {
  font-family: "bold";
  font-size: 24px;
  border-radius: 5px;
  width: 228px;
  height: 39px;
  background-color: #FFA800;
  color: #FFFFFF;
  border: none;
}
.train-card-button:hover {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}
.train-card-button:active {
  background-color: transparent;
  border: 1px solid #FFA800;
  color: #FFA800;
}
.train-card-button.disabled {
  color: #FFFFFF;
  background-color: #918F94;
}

/* Group 8 */
/* Group 8 */
/* Rectangle 9 */
/* Group 11.1 */
.switch {
  display: inline-block;
  position: relative;
  width: 72px;
  height: 19px;
}
.switch__input {
  width: 0;
  height: 0;
  opacity: 0;
}
.switch__input:checked + .switch__slider {
  background-color: #FCDC9D;
}
.switch__input:checked + .switch__slider::before {
  background-color: #FFA800;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  border-radius: 34px;
  transition: 0.3s all ease;
}
.switch__slider::before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: -3px;
  bottom: -3px;
  width: 26px;
  height: 26px;
  background-color: #C4C4C4;
  border-radius: 50%;
  transition: 0.3s all ease;
}

.sorter {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #928F94;
}
.sorter__wrapper {
  display: flex;
  justify-content: space-between;
}
.sorter__sort-time {
  position: relative;
  margin-right: 50px;
}
.sorter__sort-time_chosen {
  color: #292929;
  margin-left: 10px;
  cursor: pointer;
}
.sorter__sort-time_menu {
  position: absolute;
  top: -3px;
  right: -45px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #F7F5F9;
  color: #3E3C41;
}
.sorter__sort-time_menu span {
  border-top: 1px solid #E5E5E5;
  cursor: pointer;
  padding: 5px;
  z-index: 2;
}
.sorter__sort-time_menu span:hover {
  background-color: #FFCA62;
  color: #FFFFFF;
}
.sorter__offset span {
  margin-left: 10px;
  cursor: pointer;
}
.sorter__offset_chosen {
  color: #292929;
}

/* Rectangle 10 */
.wagon-card {
  width: 959px;
  padding: 10px 0px 50px;
  color: #292929;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: block;
  color: #292929;
}
.wagon-card__choose-another {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 35px;
  padding: 20px;
}
.wagon-card__choose-another img {
  width: 76px;
}
.wagon-card__choose-another_button {
  font-family: "bold";
  font-size: 24px;
  padding: 15px;
}
.wagon-card__train-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 50px;
}
.wagon-card__train-details_left {
  display: flex;
  align-items: center;
  gap: 25px;
}
.wagon-card__train-details_left_train-number {
  font-family: "bold";
  font-size: 24px;
  color: #3E3C41;
}
.wagon-card__train-details_left_route {
  margin-top: 10px;
}
.wagon-card__train-details_center {
  display: flex;
  align-items: center;
  gap: 30px;
}
.wagon-card__train-details_part {
  display: flex;
  flex-direction: column;
}
.wagon-card__train-details_time {
  font-family: "bold";
  font-size: 24px;
  color: black;
}
.wagon-card__train-details_city {
  font-size: 18px;
}
.wagon-card__train-details_station {
  font-size: 16px;
  color: #928F94;
}
.wagon-card__train-details_right {
  display: flex;
  gap: 10px;
}
.wagon-card__train-details_right div {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: black;
}
.wagon-card__quantity {
  margin-bottom: 80px;
  padding: 20px;
}
.wagon-card__quantity h3 {
  font-family: "bold";
  font-size: 30px;
  margin-bottom: 40px;
}
.wagon-card__quantity_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 30px;
}
.wagon-card__quantity_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 250px;
}
.wagon-card__quantity_part input {
  width: 240px;
  height: 50px;
  border: 1px solid #928F94;
  margin-bottom: 20px;
  padding: 15px;
}
.wagon-card__quantity_part input::-moz-placeholder {
  font-size: 18px;
  color: #292929;
}
.wagon-card__quantity_part input::placeholder {
  font-size: 18px;
  color: #292929;
}
.wagon-card__quantity_part:first-child {
  color: black;
  background-color: #F7F6F6;
}
.wagon-card__quantity_part:nth-child(2) {
  color: #928F94;
  outline-offset: 30px;
  outline: 1px solid #FFA800;
}
.wagon-card__quantity_part span {
  width: 240px;
}
.wagon-card__wagon-type {
  margin-bottom: 50px;
  padding: 20px;
}
.wagon-card__wagon-type h3 {
  font-family: "bold";
  font-size: 30px;
  margin-bottom: 30px;
}

.wagon-type {
  width: 961px;
}
.wagon-type__numbers {
  background-color: #FFD98F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
}
.wagon-type__numbers_wagons {
  display: flex;
  align-items: center;
}
.wagon-type__numbers_wagons h6 {
  font-size: 18px;
}
.wagon-type__numbers_wagons span {
  font-family: "bold";
  font-size: 24px;
  margin-left: 10px;
}
.wagon-type__numbers_info {
  font-size: 16px;
}
.wagon-type__options {
  color: #292929;
  display: flex;
}
.wagon-type__options_number {
  width: 190px;
  height: 160px;
  background-color: #FFD98F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wagon-type__options_number h5 {
  font-family: "bold";
  font-size: 72px;
}
.wagon-type__options_number span {
  font-size: 24px;
}
.wagon-type__options_list {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 30px 25px 20px 60px;
}
.wagon-type__options_list h6 {
  font-size: 18px;
  color: #928F94;
}
.wagon-type__options_list_wrapper {
  margin-top: 25px;
}
.wagon-type__options_list_wrapper img {
  width: 14px;
  margin-left: 5px;
}
.wagon-type__options_list_wrapper p {
  font-family: "bold";
  font-size: 24;
  color: black;
  margin-right: 5px;
}
.wagon-type__options_list_wrapper span {
  font-family: "bold";
  font-size: 24;
  color: black;
}
.wagon-type__options_list_seats div {
  display: flex;
}
.wagon-type__options_list_seats_total {
  font-size: 18px;
  color: black;
  margin-left: 5px;
}
.wagon-type__options_list_extra {
  display: flex;
  flex-direction: column;
}
.wagon-type__options_list_extra h6 {
  display: inline;
  margin-bottom: 20px;
}
.wagon-type__options_list_extra span {
  font-size: 18px;
  color: #C4C4C4;
  margin-left: 10px;
}
.wagon-type__options_list_extra p {
  font-size: 16px;
  color: #292929;
  margin-top: 70px;
}
.wagon-type__wagon {
  padding-left: 30px;
  margin-bottom: 50px;
}

.aside-details {
  width: 360px;
  background-color: #3E3C41;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #E5E5E5;
}
.aside-details h3 {
  text-transform: uppercase;
  font-family: "medium";
  font-size: 30px;
}
.aside-details__part {
  width: 100%;
  border-top: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 35px;
}
.aside-details__part_date {
  font-size: 18px;
}
.aside-details__part_total-sum {
  font-family: "bold";
  font-size: 48px;
  color: #FFA800;
  margin-right: 5px;
}
.aside-details__part_ruble-sign {
  width: 26px;
}
.aside-details__part_sign {
  cursor: pointer;
}
.aside-details__part div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.aside-details__part h4 {
  font-family: "bold";
  font-size: 30px;
}
.aside-details__info {
  width: 100%;
  padding: 15px;
}
.aside-details__info_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.aside-details__info_wrapper_route {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.aside-details__info_wrapper h6 {
  font-size: 18px;
}
.aside-details__info_wrapper_train-number {
  font-family: "bold";
  font-size: 24px;
}
.aside-details__info_wrapper_name {
  font-family: "bold";
  font-size: 16px;
}
.aside-details__info_wrapper_middle {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 7px;
  font-size: 18px;
  color: #E5E5E5;
}
.aside-details__info_wrapper_middle img {
  width: 30px;
}
.aside-details__info_wrapper_middle_duration {
  margin-bottom: 3px;
}
.aside-details__info_wrapper_part {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.aside-details__info_wrapper_part_time {
  font-family: "bold";
  font-size: 24px;
  margin-bottom: 5px;
}
.aside-details__info_wrapper_part_date {
  font-size: 18px;
  color: #928F94;
}
.aside-details__info_wrapper_part_city {
  font-size: 18px;
  margin-bottom: 3px;
}
.aside-details__info_wrapper_part_station {
  font-size: 16px;
  color: #928F94;
  max-width: 100px;
}

.passenger-info {
  width: 960px;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #292929;
  margin-bottom: 30px;
}
.passenger-info label {
  font-size: 16px;
  color: #928F94;
}
.passenger-info__head {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  background-color: #F9F9F9;
  padding: 25px;
  border-bottom: 1px solid #928F94;
}
.passenger-info__head img {
  cursor: pointer;
}
.passenger-info__head h3 {
  font-size: 30px;
}
.passenger-info__head_wrapper {
  display: flex;
  gap: 10px;
}
.passenger-info__main_select-age {
  margin-bottom: 60px;
  font-size: 24px;
  color: #292929;
  position: relative;
  padding: 30px 15px 0;
}
.passenger-info__main_select-age input {
  width: 280px;
  height: 50px;
  border: 1px solid #928F94;
  padding-left: 15px;
  border-radius: 5px;
  background-color: #F4F3F6;
  font-size: 24px;
  color: #292929;
  cursor: pointer;
}
.passenger-info__main_select-age img {
  position: absolute;
  top: 52px;
  left: 250px;
  cursor: pointer;
}
.passenger-info__main_select-age_roll {
  position: absolute;
  top: 29px;
  left: 15px;
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: #F4F3F6;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 8px;
}
.passenger-info__main_select-age_roll span {
  padding: 5px 10px;
  cursor: pointer;
}
.passenger-info__main_select-age_roll span:nth-child(n+2) {
  border-top: 1px solid #C4C4C4;
  font-size: 24px;
  color: #292929;
}
.passenger-info__main_name {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 60px;
  padding: 0 15px;
}
.passenger-info__main_name_wrapper {
  position: relative;
}
.passenger-info__main_name_wrapper input {
  width: 280px;
  height: 50px;
  border: 1px solid #928F94;
  padding-left: 15px;
  border-radius: 5px;
  background-color: #F4F3F6;
  font-size: 24px;
  color: #292929;
}
.passenger-info__main_name_wrapper label {
  position: absolute;
  top: -20px;
  left: 0;
}
.passenger-info__main_gender-date {
  display: flex;
  margin-bottom: 30px;
  gap: 30px;
  padding: 0 15px;
}
.passenger-info__main_gender-date_wrapper {
  position: relative;
  display: flex;
}
.passenger-info__main_gender-date_wrapper label input {
  display: none;
}
.passenger-info__main_gender-date_wrapper label input:checked + span {
  background-color: #FFA800;
}
.passenger-info__main_gender-date_wrapper label:first-child span {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.passenger-info__main_gender-date_wrapper label:last-child {
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.passenger-info__main_gender-date_wrapper label span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border: 1px solid #928F94;
  border-radius: 5px;
  font-family: "black";
  font-size: 30px;
  color: black;
  cursor: pointer;
}
.passenger-info__main_gender-date_wrapper-date {
  position: relative;
}
.passenger-info__main_gender-date_wrapper-date input {
  width: 280px;
  height: 50px;
  border: 1px solid #928F94;
  padding-left: 15px;
  border-radius: 5px;
  background-color: #F4F3F6;
  font-size: 24px;
  color: #292929;
}
.passenger-info__main_gender-date_wrapper-date input::-moz-placeholder {
  color: #E5E5E5;
  opacity: 1;
}
.passenger-info__main_gender-date_wrapper-date input::placeholder {
  color: #E5E5E5;
  opacity: 1;
}
.passenger-info__main_gender-date_wrapper-date label {
  position: absolute;
  top: -20px;
  left: 0;
}
.passenger-info__main_checkbox {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 1px solid #928F94;
  padding: 0 15px 25px;
}
.passenger-info__main_checkbox input {
  display: none;
}
.passenger-info__main_checkbox input:checked + .passenger-info__main_checkbox_styled::before {
  opacity: 1;
}
.passenger-info__main_checkbox input:checked ~ span {
  color: #FFA800;
}
.passenger-info__main_checkbox_label {
  font-size: 18px;
  color: #292929;
}
.passenger-info__main_checkbox_styled {
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid #928F94;
  border-radius: 5px;
  margin-right: 15px;
}
.passenger-info__main_checkbox_styled::before {
  content: url("../assets/check-orange.svg");
  opacity: 0;
  position: absolute;
  display: block;
  width: 23px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all ease;
}
.passenger-info__main_select-type {
  font-size: 24px;
  color: #292929;
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border-bottom: 1px solid #928F94;
  padding: 30px 15px;
}
.passenger-info__main_select-type_passport {
  min-width: 100px;
  height: 50px;
  border: 1px solid #928F94;
  padding-left: 15px;
  border-radius: 5px;
  background-color: #F4F3F6;
  font-size: 24px;
  color: #292929;
  cursor: pointer;
}
.passenger-info__main_select-type_passport::-moz-placeholder {
  font-size: 16px;
  color: #C4C4C4;
}
.passenger-info__main_select-type_passport::placeholder {
  font-size: 16px;
  color: #C4C4C4;
}
.passenger-info__main_select-type_roll {
  position: absolute;
  top: 22px;
  left: 0;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  background-color: #F4F3F6;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 8px;
}
.passenger-info__main_select-type_roll span {
  padding: 5px 10px;
  cursor: pointer;
}
.passenger-info__main_select-type_roll span:nth-child(n+2) {
  border-top: 1px solid #C4C4C4;
  font-size: 24px;
  color: #292929;
}
.passenger-info__main_select-type_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.passenger-info__main_select-type_wrapper img {
  position: absolute;
  top: 50px;
  right: 10px;
  cursor: pointer;
}
.passenger-info__alert {
  position: relative;
  width: 960px;
  height: 119px;
  padding: 30px 30px 30px 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.passenger-info__alert img {
  position: absolute;
  top: 40px;
  left: 25px;
}
.passenger-info__alert img:hover {
  cursor: pointer;
}
.passenger-info__alert_message {
  width: 400px;
  color: #292929;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.passenger-info__alert_message span {
  font-family: "bold";
}
.passenger-info__alert button {
  width: 300px;
  height: 52px;
  border: 1px solid #292929;
  border-radius: 5px;
  color: #292929;
  font-family: "bold";
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
}

.pink-background {
  background-color: rgba(255, 61, 0, 0.38);
}

.green-background {
  background-color: #B2F6A1;
}

.success-text {
  color: white;
}

/* Rectangle 9 */
.next-button {
  position: absolute;
  bottom: -110px;
  right: 0;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: "bold";
  font-size: 24px;
  text-transform: uppercase;
  border: none;
}

.next-button-active {
  background-color: #FFA800;
}
.next-button-active:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.next-button-active:active {
  background-color: transparent;
  border: 1px solid #FFA800;
  color: #FFA800;
}

.next-button-disabled {
  background-color: #928F94;
  cursor: not-allowed;
}

.personal-data {
  border: 1px solid #928F94;
}
.personal-data h3 {
  font-size: 30px;
  color: #292929;
  border-bottom: 1px solid #928F94;
  padding: 25px 15px;
  margin-bottom: 50px;
}
.personal-data__name-wrapper {
  display: flex;
  gap: 20px;
  padding: 0 15px;
  margin-bottom: 20px;
}
.personal-data__contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 50px 15px 80px;
}
.personal-data__part {
  position: relative;
  display: flex;
  flex-direction: column;
}
.personal-data__part label {
  position: absolute;
  top: -25px;
  left: 1px;
  font-size: 16px;
}
.personal-data__part input {
  width: 280px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #928F94;
  padding: 15px;
  font-size: 24px;
}
.personal-data__part input::-moz-placeholder {
  font-size: 24px;
  color: #C4C4C4;
}
.personal-data__part input::placeholder {
  font-size: 24px;
  color: #C4C4C4;
}

.payment-way {
  border: 1px solid #928F94;
  border-top: none;
}
.payment-way h3 {
  font-size: 30px;
  color: #292929;
  border-bottom: 1px solid #928F94;
  padding: 25px 20px;
  margin-bottom: 40px;
}
.payment-way__online {
  padding: 0 20px 60px;
  border-bottom: 1px solid #928F94;
  margin-bottom: 40px;
}
.payment-way__online_checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.payment-way__online_checkbox input {
  display: none;
}
.payment-way__online_checkbox input:checked + .payment-way__online_checkbox_styled::before {
  opacity: 1;
}
.payment-way__online_checkbox input:checked ~ span {
  color: #FFA800;
}
.payment-way__online_checkbox_styled {
  position: relative;
  border: 1px solid #928F94;
  border-radius: 5px;
  width: 28px;
  height: 28px;
}
.payment-way__online_checkbox_styled::before {
  opacity: 0;
  content: url("../assets/check-orange.svg");
  position: absolute;
  display: block;
  width: 23px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all ease;
}
.payment-way__online_checkbox_label {
  font-size: 24px;
  color: #928F94;
}
.payment-way__online_options {
  display: flex;
  gap: 100px;
}
.payment-way__online_options p {
  font-family: "bold";
  font-size: 24px;
}
.payment-way__cash {
  padding: 0 20px 40px;
}
.payment-way__cash_checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.payment-way__cash_checkbox input {
  display: none;
}
.payment-way__cash_checkbox input:checked + .payment-way__cash_checkbox_styled::before {
  opacity: 1;
}
.payment-way__cash_checkbox input:checked ~ span {
  color: #FFA800;
}
.payment-way__cash_checkbox_styled {
  position: relative;
  border: 1px solid #928F94;
  border-radius: 5px;
  width: 28px;
  height: 28px;
}
.payment-way__cash_checkbox_styled::before {
  opacity: 0;
  content: url("../assets/check-orange.svg");
  position: absolute;
  display: block;
  width: 23px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all ease;
}
.payment-way__cash_checkbox_label {
  font-size: 24px;
  color: #928F94;
}

.summary-passengers {
  position: relative;
  margin-bottom: 47px;
  border: 1px solid #928F94;
}
.summary-passengers h3 {
  border-bottom: 1px solid #928F94;
  font-size: 30px;
  padding: 30px;
}
.summary-passengers__passengers {
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 25px;
}
.summary-passengers__passengers_wrapper {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  gap: 30px;
  margin-bottom: 80px;
}
.summary-passengers__passengers_img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
}
.summary-passengers__passengers_info-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.summary-passengers__passengers_info-wrapper h6 {
  margin-bottom: 20px;
}
.summary-passengers__passengers_info-wrapper p {
  color: #928F94;
  margin-bottom: 5px;
}
.summary-passengers__sum {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.summary-passengers__sum_wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}
.summary-passengers__sum_wrapper p {
  font-size: 30px;
}
.summary-passengers__sum_wrapper span {
  font-family: "bold";
  font-size: 30px;
  margin-right: 8px;
}
.summary-passengers__sum_wrapper img {
  width: 20px;
}

.summary-payment {
  position: relative;
  margin-bottom: 47px;
  border: 1px solid #928F94;
}
.summary-payment h3 {
  border-bottom: 1px solid #928F94;
  font-size: 30px;
  padding: 30px;
  margin-bottom: 30px;
}
.summary-payment__wrapper {
  padding: 20px 15px 50px;
}
.summary-payment__wrapper span {
  font-size: 24px;
  padding: 30px;
}
.summary-payment__button-wrapper {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.change-button {
  width: 233px;
  height: 39px;
  background-color: transparent;
  color: #292929;
  border: 1px solid #292929;
  font-family: "bold";
  font-size: 24px;
  border-radius: 5px;
}
.change-button:hover {
  color: #FFA800;
}
.change-button:active {
  background-color: #FFA800;
  border: none;
  color: #292929;
}

.rating-stars {
  display: flex;
}

.wagon-class-first {
  width: 921px;
  height: 145px;
  margin-bottom: 100px;
  background-color: gray;
  background-image: url("../assets/wagon-seats-1.svg");
  position: relative;
}
.wagon-class-first__wrapper {
  position: absolute;
  top: 28px;
  left: 133px;
}
.wagon-class-first ul {
  display: flex;
  flex-wrap: wrap;
  width: 770px;
}
.wagon-class-first__seat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 59px;
  background-color: lightgray;
  margin-right: 1.5px;
  margin-bottom: 0;
  font-family: "bold";
}
.wagon-class-first__seat:nth-child(odd) {
  margin-right: 34px;
}
.wagon-class-first__seat:hover {
  cursor: pointer;
  border: 2px solid #FFA800;
}
.wagon-class-first__seat:active {
  color: #FFA800;
}
.wagon-class-first__seat.seat-chosen {
  color: white;
  background-color: #FFA800;
}
.wagon-class-first__seat.seat-unavailable {
  background-color: darkgray;
  color: darkgray;
}
.wagon-class-first__wagon-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 40px;
  width: 31px;
  height: 24px;
  background-color: rgb(46, 44, 44);
  color: white;
  font-family: "bold";
  font-size: 14px;
}

.wagon-class-second {
  width: 921px;
  height: 145px;
  margin-bottom: 100px;
  background-color: gray;
  background-image: url("../assets/wagon-seats-2.svg");
  position: relative;
}
.wagon-class-second__wrapper {
  position: absolute;
  top: 28px;
  left: 133px;
}
.wagon-class-second ul {
  display: flex;
  flex-wrap: wrap;
  width: 770px;
}
.wagon-class-second__seat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 31px;
  background-color: lightgray;
  margin-right: 1.5px;
  margin-bottom: 0;
  font-family: "bold";
}
.wagon-class-second__seat:nth-child(odd) {
  margin-right: 34px;
}
.wagon-class-second__seat:hover {
  cursor: pointer;
  border: 2px solid #FFA800;
}
.wagon-class-second__seat:active {
  color: #FFA800;
}
.wagon-class-second__seat.seat-chosen {
  color: white;
  background-color: #FFA800;
}
.wagon-class-second__seat.seat-unavailable {
  background-color: darkgray;
  color: darkgray;
}
.wagon-class-second__wagon-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 40px;
  width: 31px;
  height: 24px;
  background-color: rgb(46, 44, 44);
  color: white;
  font-family: "bold";
  font-size: 14px;
}

.wagon-class-third {
  width: 921px;
  height: 145px;
  margin-bottom: 100px;
  background-color: gray;
  background-image: url("../assets/wagon-seats-3.svg");
  position: relative;
}
.wagon-class-third__wrapper {
  position: absolute;
  top: 28px;
  left: 133px;
}
.wagon-class-third ul {
  display: flex;
  flex-wrap: wrap;
  width: 770px;
}
.wagon-class-third__seat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 31px;
  background-color: lightgray;
  margin-right: 1.5px;
  margin-bottom: 0;
  font-family: "bold";
}
.wagon-class-third__seat.aside-seat {
  margin-top: 23px;
  width: 43px;
  height: 24px;
  margin-right: 0;
}
.wagon-class-third__seat.aside-seat:nth-child(even) {
  margin-right: 3.5px;
}
.wagon-class-third__seat.aside-seat:nth-child(odd) {
  margin-right: inherit;
}
.wagon-class-third__seat:nth-child(odd) {
  margin-right: 34px;
}
.wagon-class-third__seat:hover {
  cursor: pointer;
  border: 2px solid #FFA800;
}
.wagon-class-third__seat:active {
  color: #FFA800;
}
.wagon-class-third__seat.seat-chosen {
  color: white;
  background-color: #FFA800;
}
.wagon-class-third__seat.seat-unavailable {
  background-color: darkgray;
  color: darkgray;
}
.wagon-class-third__wagon-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 40px;
  width: 31px;
  height: 24px;
  background-color: rgb(46, 44, 44);
  color: white;
  font-family: "bold";
  font-size: 14px;
}

.wagon-class-fourth {
  width: 921px;
  height: 145px;
  margin-bottom: 100px;
  background-color: gray;
  background-image: url("../assets/wagon-seats-4.svg");
  position: relative;
}
.wagon-class-fourth__wrapper {
  position: absolute;
  top: 32px;
  left: 145px;
}
.wagon-class-fourth ul {
  display: flex;
  flex-wrap: wrap;
  width: 730px;
}
.wagon-class-fourth__seat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 20px;
  background-color: lightgray;
  margin-bottom: 2px;
  margin-right: 17px;
  font-family: "bold";
}
.wagon-class-fourth__seat:nth-child(n+33) {
  margin-top: 13px;
}
.wagon-class-fourth__seat:nth-child(n+49) {
  margin-top: 2px;
}
.wagon-class-fourth__seat:hover {
  cursor: pointer;
  border: 2px solid #FFA800;
}
.wagon-class-fourth__seat:active {
  color: #FFA800;
}
.wagon-class-fourth__seat.seat-chosen {
  color: white;
  background-color: #FFA800;
}
.wagon-class-fourth__seat.seat-unavailable {
  background-color: darkgray;
  color: darkgray;
}
.wagon-class-fourth__second-row {
  margin-top: 15px;
}
.wagon-class-fourth__second-row li:nth-child(1) {
  cursor: default;
  opacity: 0;
  border: none;
}
.wagon-class-fourth__second-row li:nth-child(16) {
  position: relative;
  top: 22px;
}
.wagon-class-fourth__wagon-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 40px;
  width: 31px;
  height: 24px;
  background-color: rgb(46, 44, 44);
  color: white;
  font-family: "bold";
  font-size: 14px;
}

.wagon-service {
  display: flex;
  gap: 10px;
}
.wagon-service__wrapper {
  position: relative;
}
.wagon-service__wrapper_tip {
  position: absolute;
  bottom: -38px;
  left: -14px;
  opacity: 0;
  transition: 0.3s all ease;
  font-size: 16px;
  color: #292929;
  padding: 8px;
  min-width: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wagon-service__item {
  cursor: pointer;
}
.wagon-service__item:hover + div {
  opacity: 1;
}
.wagon-service__item:hover rect {
  fill: #FFA800;
}
.wagon-service__item.chosen {
  fill: #FFA800;
}
.wagon-service__item.chosen path {
  fill: white;
}
.wagon-service__item.chosen rect {
  stroke: none;
}
.wagon-service__item.included {
  fill: #FCDC9D;
  cursor: default;
  pointer-events: none;
}
.wagon-service__item.included path {
  fill: #928F94;
}
.wagon-service__item.included rect {
  stroke: none;
}

.wagon-choice {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}
.wagon-choice div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.wagon-choice div:hover span {
  color: #FFA800;
}
.wagon-choice div:hover svg path {
  fill: #FFA800;
}
.wagon-choice div.chosen span {
  color: #FFA800;
}
.wagon-choice div.chosen svg path {
  fill: #FFA800;
}
.wagon-choice span {
  font-size: 24px;
  color: #928F94;
}

.alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease;
}
.alert__wrapper {
  position: relative;
  width: 666px;
  background-color: white;
  z-index: 999;
}
.alert__header {
  padding: 30px;
}
.alert__header.alert-danger {
  background-color: rgba(255, 61, 0, 0.35);
}
.alert__header.alert-warning {
  background-color: rgba(255, 245, 0, 0.35);
}
.alert__body {
  padding: 35px 40px 65px;
  border-bottom: 1px solid #928F94;
}
.alert__body h3 {
  font-family: "medium";
  font-size: 24px;
  margin-bottom: 30px;
}
.alert__body p {
  font-size: 18px;
  line-height: 1.3rem;
}
.alert__footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.alert__footer button {
  width: 233px;
  height: 52px;
  border: 1px solid #292929;
  border-radius: 5px;
  font-family: "bold";
  font-size: 24px;
}
.alert__footer button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.alert__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #292929;
  opacity: 0.9;
  z-index: 0;
}

.train-options-svg {
  display: flex;
  justify-content: space-between;
  width: 80px;
}
.train-options-svg__wifi.train-option-active path {
  fill: #FFA800;
}
.train-options-svg__rocket.train-option-active path {
  fill: #FFA800;
}
.train-options-svg__cup.train-option-active path {
  fill: #FFA800;
}

.initial-header {
  position: relative;
  width: 100%;
  height: 985px;
  background-image: url("../assets/initial-header-mask.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1720px) {
  .initial-header {
    height: 700px;
  }
}
@media screen and (max-width: 1420px) {
  .initial-header {
    height: 600px;
  }
}
.initial-header__logo-wrapper {
  height: 64px;
  padding-left: 250px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.initial-header__wrapper {
  position: absolute;
  bottom: 0;
  right: 230px;
  display: flex;
  align-items: center;
  gap: 130px;
}
@media screen and (max-width: 1720px) {
  .initial-header__wrapper {
    right: 190px;
  }
}
.initial-header__progress {
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
}

.main-header {
  width: 100%;
}
.main-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 596px;
  background-image: url("../assets/main-header-mask.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-header__wrapper_logo-wrapper {
  height: 64px;
  padding-left: 250px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.main-header__wrapper_form-wrapper {
  margin-left: 150px;
}

.footer {
  width: 100%;
  height: 519px;
  background-color: #292929;
}
.footer__wrapper {
  padding: 50px 315px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
}
@media screen and (max-width: 1720px) {
  .footer__wrapper {
    padding: 50px 220px;
  }
}
@media screen and (max-width: 1420px) {
  .footer__wrapper {
    padding: 50px 180px;
  }
}
.footer__basement {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 250px 0;
}
.footer__basement_button-up {
  cursor: pointer;
}
.footer__basement_copyright {
  font-family: "light";
  font-size: 24px;
  color: #E5E5E5;
}

.main-container {
  display: flex;
  justify-content: center;
  padding: 90px 250px 190px;
  gap: 84px;
}

.main-page__about-us {
  white-space: no-wrap;
  padding: 145px 480px 115px 250px;
}
.main-page__about-us h2 {
  font-family: "medium";
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.main-page__about-us_paragraph {
  font-family: "regular";
  font-size: 24px;
  border-left: 9px solid #FFA800;
  padding-left: 15px;
}
.main-page__about-us_paragraph p {
  margin-bottom: 35px;
}
.main-page__about-us_paragraph_strong {
  font-family: "bold";
}
@media screen and (max-width: 1420px) {
  .main-page__about-us {
    padding: 90px 320px 90px 200px;
  }
}
.main-page__info {
  padding: 70px 270px 100px;
  width: 100%;
  min-height: 575px;
  background-image: url("../assets/mask-rails.svg");
  background-size: cover;
  background-position: center;
}
.main-page__info_how-it-works {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-page__info_how-it-works h2 {
  font-family: "medium";
  font-size: 36px;
  margin-bottom: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 0;
}
.main-page__info_how-it-works button {
  width: 325px;
  height: 60px;
  color: #FFFFFF;
  font-family: bold;
  font-size: 24px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: transparent;
}
.main-page__info_how-it-works button:hover {
  background-color: #FFFFFF;
  color: #2D2B2F;
  border: 0;
}
.main-page__info_how-it-works button:active {
  background-color: #FFFFFF;
  color: #2D2B2F;
}
@media screen and (max-width: 1420px) {
  .main-page__info {
    padding: 50px 180px 80px;
  }
}
.main-page__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 100px;
}
.main-page__info_item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 162px;
}
.main-page__info_item-wrapper img {
  border: 14px solid rgba(229, 229, 229, 0.2);
  border-radius: 100%;
  margin-bottom: 30px;
}
.main-page__info_item-wrapper h6 {
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
}
.main-page__feedback {
  padding: 134px 179px 250px 250px;
}
@media screen and (max-width: 1800px) {
  .main-page__feedback {
    padding: 80px 120px 150px 130px;
  }
}
.main-page__feedback h2 {
  font-family: "medium";
  font-size: 36px;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 80px;
}
.main-page__feedback_item-wrapper {
  width: 645px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.main-page__feedback_item-wrapper img {
  border-radius: 100%;
}
@media screen and (max-width: 1720px) {
  .main-page__feedback_item-wrapper img {
    width: 150px;
  }
}
.main-page__feedback_item-wrapper h6 {
  font-family: "medium";
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 25px;
}
@media screen and (max-width: 1720px) {
  .main-page__feedback_item-wrapper h6 {
    font-size: 18px;
  }
}
.main-page__feedback_item-wrapper p {
  position: relative;
  font-family: "lightItalic";
  font-size: 18px;
  color: #928F94;
}
.main-page__feedback_item-wrapper p::before {
  content: "“";
  font-family: "medium";
  font-size: 36px;
  position: absolute;
  top: -5px;
  left: -15px;
}
.main-page__feedback_item-wrapper p::after {
  content: "”";
  font-family: "medium";
  font-size: 36px;
  position: absolute;
  bottom: -30px;
  right: 10px;
}
.main-page__feedback-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

.train-page {
  position: relative;
}
.train-page__cards {
  margin-top: 50px;
}
.train-page__pagination {
  position: absolute;
  bottom: -100px;
  right: -30px;
}

.seats-page {
  position: relative;
}
.seats-page h2:first-child {
  font-family: "medium";
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.passengers-wrapper {
  position: relative;
}

.payment-wrapper {
  position: relative;
  width: 960px;
}
.payment-wrapper button {
  background-color: #FFA800;
  color: #FFFFFF;
  border-radius: 5px;
}

.confirmation-wrapper {
  position: relative;
}

.final-header {
  width: 100%;
  height: 834px;
  background-image: url("../assets/mask-final-header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.final-header__logo-wrapper {
  height: 64px;
  padding-left: 250px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.final-main-blank {
  position: relative;
  min-height: 1080px;
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.final-main {
  position: absolute;
  bottom: 180px;
}
.final-main h1 {
  color: #FFFFFF;
  font-family: "bold";
  font-size: 72px;
  margin-bottom: 40px;
}
.final-main__wrapper {
  width: 1404px;
  background-color: #FFFFFF;
}
.final-main__part1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
}
.final-main__part1_order-number {
  color: #3E3C41;
  font-family: "bold";
  font-size: 36px;
}
.final-main__part1 div {
  display: flex;
  gap: 15px;
}
.final-main__part1_sum-tex {
  color: #928F94;
  font-size: 36px;
}
.final-main__part1_sum {
  color: #3E3C41;
  font-family: "bold";
  font-size: 36px;
}
.final-main__part1 img {
  width: 21px;
}
.final-main__part2 {
  background-color: #F4F3F6;
  display: flex;
  justify-content: center;
  gap: 130px;
  align-items: center;
  padding: 40px;
}
.final-main__part2 div {
  width: 156px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
  color: #292929;
  text-align: center;
}
.final-main__part3 {
  display: block;
  color: #292929;
  padding: 100px 206px;
}
.final-main__part3 h3 {
  font-family: "bold";
  font-size: 36px;
  margin-bottom: 47px;
}
.final-main__part3 p {
  font-size: 24px;
  margin-bottom: 95px;
  line-height: 2rem;
}
.final-main__part3 span {
  font-family: "bold";
  font-size: 24px;
}
.final-main__part4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFA800;
  padding: 50px 84px;
}
.final-main__part4 div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.final-main__part4 span {
  position: relative;
  top: 3px;
  color: #292929;
  font-size: 24px;
  margin-right: 20px;
}
.final-main__part4 button {
  width: 323px;
  height: 60px;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #3E3C41;
  color: #292929;
  font-family: "bold";
  font-size: 24px;
  cursor: pointer;
}

.ant-slider-rail {
  border: 1px solid #C4C4C4;
  border-radius: 8px !important;
}

.ant-pagination-item {
  border: 1px solid #C4C4C4 !important;
  margin-right: 15px !important;
}

.ant-pagination-item-active {
  color: hsl(0, 0%, 100%) !important;
}

.ant-pagination-item-ellipsis {
  padding-top: 20px;
  border: 1px solid #C4C4C4 !important;
}

.svg-plus-minus-icons:hover {
  cursor: pointer;
}

.svg-plus-minus-icons:hover > path {
  fill: #FCDC9D;
  transition: 0.3s all ease;
}

.svg-plus-minus-icons:hover > rect {
  stroke: #FCDC9D;
  transition: 0.3s all ease;
}

.svg-plus-minus-icons-circled:hover {
  cursor: pointer;
}

.svg-plus-minus-icons-circled:hover > circle {
  display: none;
}

* {
  font-family: "regular";
}

aside, main {
  font-family: "regular";
}

button {
  cursor: pointer;
}
button:hover {
  transition: 0.5s all ease;
}

ul {
  list-style-type: none;
}/*# sourceMappingURL=App.css.map */