.navmenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__logo-wrapper {
    padding: 15px 250px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  &__nav-wrapper {
    display: flex;
    padding: 25px 250px;
    background-color: $gray-color;
    // @media screen and (max-width: $breakpoint1420) {
    //   padding-left: 150px;
    // }
  }
  &__item {
    font-family: 'light';
    font-size: 30px;
    color: $white-color;
    margin-right: 70px;
    &:hover {
      color: $orange-on-gray-color;
      transition: .3s all ease;
      cursor: pointer;
    }
    &:active {
      color: $white-color;
    }
    @media screen and (max-width: $breakpoint1420) {
      font-size: 24px;
    }
  }
}
