.alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease;
  &__wrapper {
    position: relative;
    width: 666px;
    background-color: white;
    z-index: 999;
  }
  &__header {
    padding: 30px;
    &.alert-danger {
      background-color: rgb(255, 61, 0, 0.35);
    }
    &.alert-warning {
      background-color: rgb(255, 245, 0, 0.35);
    }
  }
  &__body {
    padding: 35px 40px 65px;
    border-bottom: 1px solid #928F94;
    & h3 {
      font-family: 'medium';
      font-size: 24px;
      margin-bottom: 30px;
    }
    & p {
      font-size: 18px;
      line-height: 1.3rem;
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    & button {
      width: 233px;
      height: 52px;
      border: 1px solid #292929;
      border-radius: 5px;
      font-family: 'bold';
      font-size: 24px;
      &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #292929;
    opacity: 0.9;
    z-index: 0;
  }
}