.train-card {
  width: 959px;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 47px;
  display: flex;
  &__wrapper-left {
    width: 197px;
    background-color: #E4E0E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 40px;
    & img {
      margin-bottom: 20px;
    }
    & div {
      display: block;
    }
    & p {
      margin-bottom: 3px;
      font-size: 16px;
      text-transform: capitalize;
    }
  }
  &__train-number {
    margin-bottom: 20px;
    font-family: 'bold';
    font-size: 24px;
  }
  &__wrapper-middle {
    width: 370px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 25px;
    margin-bottom: 55px;
  }
  &__part {
    display: flex;
    flex-direction: column;
    & img {
      width: 30px;
    }
  }
  &__time {
    font-family: 'bold';
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__city {
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__station {
    font-size: 16px;
    color: #928F94;
  }
  &__duration {
    position: relative;
    right: 8px;
    bottom: 10px;
    font-size: 18px;
    color: #C4C4C4;
    margin-bottom: 5px;
  }
  &__back-arrow {
    transform: translate(180deg);
  }
  &__wrapper-right {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    border-left-color: #C4C4C4;
    border-left-width: 1px;
    border-left-style: solid;
    padding: 20px 15px 20px 25px;
    color: #928F94;
  }
  &__seats {
    display: block;
    margin-bottom: 20px;
  }
  &__seat {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    font-size: 16px;
    margin-bottom: 15px;
    &:hover > .train-card__seat-details {
      opacity: 1;
      transition: .3s all ease;
    }
    & span {
      font-family: 'bold';
      font-size: 24px;
      color: #2D2B2F;
      margin-left: 3px;
    }
    & img {
      width: 16px;
    }
    &:last-child {
      margin-bottom: 80px;
    }
  }
  &__seat-details {
    position: absolute;
    top: 100%;
    opacity: 0;
  }
  &__seat-type {
    font-size: 16px;
    color: #3E3C41;
    width: 80px;
  }
  &__seat-amount {
    font-family: 'medium';
    font-size: 16px;
    color: $orange-color;
  }
  &__extra {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 20px;
  }
}

.train-card-button {
  font-family: 'bold';
  font-size: 24px;
  border-radius: 5px;
  width: 228px;
  height: 39px;
  background-color: $orange-color;
  color: $white-color;
  border: none;
  &:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  }
  &:active {
    background-color: transparent;
    border: 1px solid $orange-color;
    color: $orange-color;
  }
  &.disabled {
    color: $white-color;
    background-color: #918F94;
  }
}

/* Group 8 */

/* Group 8 */
/* Rectangle 9 */
/* Group 11.1 */